@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background: #121417;
    line-height: 1.6;
    font-size: 1.2rem;
    color: white;
}

.d-none {
    display: none;
}

div.star {
    width: 50px;
    height: 50px;
    background: #3a4655;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 430px;
    height: 440px;
    background: #252d37;
    border-radius: 30px;
    padding: 35px;
    margin-top: 50px;
}

.container p {
    color: #959eac;
}

.container .box-body {
    margin-top: 10px;
}

.container .box-body img {
    display: block;
    margin: auto;
}

.container .box-body h1 {
    margin-top: 1.5rem;
    font-size: 28px;
}

.container .box-body p {
    color: #959eac;
    font-size: 16px;
}

.container .box-body p.msg {
    margin-bottom: 20px;
}

.container .box-body p.error-msg {
    position: absolute;
    left: 50%;
    top: 58%;
    text-align: center;
    color: red;
}

.container .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container .buttons button {
    font-size: 1.2rem;
    width: 55px;
    height: 55px;
    border: none;
    background: #3a4655;
    color: #959eac;
    border-radius: 50%;
    cursor: pointer;
}

.container .buttons button:hover {
    background: #fb7413;
}

.container .buttons button.selected {
    background: #ffffff;
    color: #000000;
}

.container .buttons button.error {
    border: 1px solid red;
}

.container .submit {
    font-family: 'Overpass', sans-serif;
    font-size: 1.1rem;
    display: block;
    width: 100%;
    height: 45px;
    background: #fb7413;
    border: none;
    padding: 15px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
}

.container .submit:hover {
    background: #ffffff;
    color: #000000;
}

.container #box-2 {
    text-align: center;
}

.container .selection-msg {
    padding: 10px 15px;
    color: #fb7413;
    background: #3a4655;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 3rem;
    margin-bottom: 1.1rem;
    border-radius: 50px;
}

.attribution {
    margin-top: 60px;
    color: #959eac;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.attribution a {
    color: #4c4f55;
}